<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>NittanyAuction - Seller</title>
</head>
<body class="bg-light">
<div class="container" style="margin-top: 80px;">
    <div class="card shadow-sm">
        <div class="card-body p-4">
            <h3 class="card-title">Welcome, User!</h3>
            <p class="text-muted">You are logged in as a <strong> {{ email }} </strong> with no specific role. Please input the following information to be added as a Bidder.</p>
            <hr>
                <form action = "/Update_Info" method = "POST"> #

                    <div class="form-group">
                        <label for="First_Name">First name</label>
                        <input name="First_Name" class="form-control" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="Last_Name">Last Name</label>
                        <input name="Last_Name" class="form-control" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="Age">Age</label>
                        <input name="Age" class="form-control" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="Zipcode">Zipcode</label>
                        <input name="Zipcode" class="form-control" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="Street_Number">Street Number</label>
                        <input name="Street_Number" class="form-control" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="Street_Name">Street Name</label>
                        <input name="Street_Name" class="form-control" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="Major">Major</label>
                        <input name="Major" class="form-control" placeholder="" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Update Information</button>
            </form>


        </div>
    </div>
</div>
</body>
</html>